<form [formGroup]="productForm" (ngSubmit)="onEnviar2()">
  <label >Nombre</label>
  <input name="name"
         formControlName="name"
         type="text"
         required="true"
  />
  <label >Edad</label>
  <input age="age"
         formControlName="age"
         type="text" />
  <label >Habilitado</label>
  <input enable="enable"
         formControlName="enable"
         type="text" />
  <label >Url Image</label>
  <input urlImage="urlImage"
         formControlName="urlImage"
         type="text" />
  <button type="submit" class="btn-send">Crear</button>
</form>
