 
<p>Amazon</p>
<p>stock total: {{sumar()}} <p>
  <p>calor <p>
<div style="border:1px solid black;">
  
  <ng-container *ngFor="let aux of producto">

    <ng-container *ngIf="aux.tipo === 'calor'">

       
   <p [ngStyle]="{'background-color': aux.stock > 0 ? 'orange' : 'red' }"> nombre:{{aux.nombre | uppercase}}
    <br>
   talla: {{aux.talla | talla}}
    <br>
   stock: {{aux.stock }}
    <br>
    <p>
    <ng-container *ngIf="aux.stock === 0">
    <button disabled>Comprar</button>
    </ng-container>
    <ng-container *ngIf="aux.stock > 0">
    <button (click) ="quitar(aux)">Comprar</button>
    </ng-container>
    <br>
    </ng-container>
    </ng-container>

    
</div>
<br>
<p>frio <p>
<div style="border:1px solid black;">
  <ng-container *ngFor="let aux of producto">
    <ng-container *ngIf="aux.tipo === 'frio'">
    <p [ngStyle]="{'background-color': aux.stock > 0 ? 'orange' : 'red' }">  
    nombre:{{aux.nombre | uppercase}}
    <br>
    talla:{{aux.talla | talla}}
    <br>
    stock:{{aux.stock }}
    <br>
    <p>
    <ng-container *ngIf="aux.stock === 0">
    <button disabled>Comprar</button>
    </ng-container>
    <ng-container *ngIf="aux.stock > 0">
    <button (click) ="quitar(aux)">Comprar</button>
    </ng-container>
    <br>
    </ng-container>
    </ng-container>
</div>

<div *ngIf="sumar() === 0">
   vendiste todo
 </div>



